@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
 background-color: black;
}



header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
}
nav li{
  margin: 0 2rem;
}

nav li:hover{
  color:#4c00ff;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: aquamarine;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;   
  }
  header nav{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #ff00d4;
    transition: 1s;
    transform: translate(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
}
